body{
  background-color: hsl(60, 10%, 10%);
}

hr{
  border-top: 1px solid #292926;
}

.container{
  margin: 0 auto;
  padding-left: 180px;
  width: calc(100% - 180px);
}

nav ul{
  width:150px;
}


nav a{text-decoration: none;}

.panel > .panel-heading, .type{
  color: #aaa28a;
}

.divider {
    height:50px;
}


section {
    color: #fff;
    height:300px;
    padding-top:80px;
    padding-left: 180px;
    padding-bottom:50px;
    overflow:auto;
}

section p{
  color: #fff;
  zoom: .7;
  margin-top: 20px;
}

.bg-1 {
  background: #000 url('../img/introBG1.jpg') no-repeat center center fixed;
    color: #000;
    background-size:cover;
}
  

#footer {
    height: 60px;
    background-color:#585858;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

#footer a {
  color:#efefef;
}

