body{
  background-color: hsl(60, 10%, 10%);
}

hr{
  border-top: 1px solid #292926;
}

.container{
  margin: 0 auto;
  padding-left: 180px;
  width: calc(100% - 180px);
}

/*
img{
  zoom: .4;
}
*/

nav ul{
  width:150px;
}

.panel > .panel-heading, .type{
  color: #aaa28a;
}

.divider {
    height:50px;
}


section {
    color: #fff;
    height:300px;
    padding-top:80px;
    padding-left: 180px;
    padding-bottom:50px;
    overflow:auto;
}

section p{
  color: #fff;
  zoom: .7;
  margin-top: 20px;
}

.bg-1 {
  background: #000 url('../img/introBG1.jpg') no-repeat center center fixed;
    color: #000;
    background-size:cover;
}
  

#footer {
    height: 60px;
    background-color:#585858;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

#footer a {
  color:#efefef;
}



/*
html {
  height: 100%;
  overflow: hidden;
}
#container {
  color: #fff;
  margin:0;
  padding:0;
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-transform-style: preserve-3d;
  /* transform-style: preserve-3d; /
  height: 100%;
  /* overflow-y: scroll; /
  overflow-x: hidden;
}
header {
  box-sizing: border-box;
  min-height: 30vw;
  padding: 10vw 0 5vw;
  position: relative;
  -webkit-transform-style: inherit;
  transform-style: inherit;
  width: 100vw;
  height: 400px;
}

header, header:before {
  background-size: cover;
}
header::before {
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
	display: block;
	background-color: #000;
  background-image: url(../img/introBG1.png);
  background-size: cover;
  -webkit-transform-origin: center center 0;
  -webkit-transform: translateZ(-1px) scale(2);
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(3);
  z-index: -1;
  min-height: 100vw;
}
header * {
  font-weight: normal;
  text-align: center;
  margin: 0;
	padding: 1em 0;
}
header p {
  background-color: hsla(0, 0%, 100%,0.1);
  color: #fff;
}
main {
  background-color: hsl(60, 10%, 10%);
  line-height: 1.7;
  max-width: 100%;
  height: 700%;
  padding: 5% 10% 0 20%;
  position: relative;
  z-index: 2;
}

main img{
  zoom: .55;
}

.g {
      padding: 0.25em;
      overflow: hidden;
    }
    .g li {
      float: left;
      width: 50%;
      padding: 0.25em;
      list-style-type: none;
    }
    .g img {
      display: block;
      zoom: .5;
    }
    .g li:nth-child(odd) {
      clear: left;
    }
  
    @media screen and (min-width: 40em) {
      .g li {
          width: 33.3333333333333333%; 
        }
        .g li:nth-child(3n+1) {
          clear: left;
        }
        .g li:nth-child(odd) {
        clear: none;
      }
    } 
    @media screen and (min-width: 55em) {
      .g li {
          width: 25%; 
        }
        .g li:nth-child(4n+1) {
          clear: left;
        }
        .g li:nth-child(3n+1) {
        clear: none;
      }
    }
    @media screen and (min-width: 72em) {
      .g li {
          width: 20%; 
        }
        .g li:nth-child(5n+1) {
          clear: left;
        }
        .g li:nth-child(4n+1) {
        clear: none;
      }
    }
    @media screen and (min-width: 90em) {
      .g li {
          width: 16.666666666%; 
        }
        .g li:nth-child(6n+1) {
          clear: left;
        }
        .g li:nth-child(5n+1) {
        clear: none;
      }
    }
    */
