*{
  margin: 0;
  padding: 0;
  color: #aaa;

}

body{
  background-color: #333;
  border-top: 15px solid #ff003c;
  background-image: url('../img/code.gif'), url('../img/hand.png'), url(../img/phone.png);
  background-repeat: no-repeat;
  background-position: 60vh 0px, -90px 2500px, -200px 3656px;

  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: #ff003c;
  font-family: 'Abel', 'Arial', sans-serif;
}


a:hover{
  color: #fff;
}

b{
  color: #ff003c;
}


header{
    /*position: fixed;*/
}

#logo{
  margin-bottom: 10px;
}

#logo, header nav, header hr{
  display: block;
  margin-left: 7%;
}


#logo2{
  display: none;
}

header hr{
  border: 1px solid #ff003c;
  width: 10px;
}

nav, header hr{
  margin-top: 10px;
}

nav{
  height: 100px;
  padding-left: 20px;
  border-left: 1px solid #ff003c;
}

nav li{
  list-style: none;
  display: block;
}

section{
  margin-left: 10%;
  width: 80%;
  padding-bottom: 174px;
  min-height: 600px;
}

#projects,
#bio,
#contact{
    /*border-left: 1px solid #ff003c;*/
    padding-left: 20px;
    padding-top: 20px;
}


#comp{
  height: 1500px;
  position: absolute;
  width: 100%;
  right: 0px;
  top: 0px;
  padding-left: 500px;
  z-index: -1;
  background-image: url('../img/comp.png');
  background-repeat: no-repeat;
  background-position: 1000px 30px;
  background-size: 50%;
}


#container{
  padding-top: 20px;
  width: 100%;
  height: 100%;
  position:relative;

  background-image: url('../img/dot.png');
  background-position: top left;
  background-attachment: fixed;
  background-repeat: repeat;
}



#logo{
  width: 93px;
  height: 50px;
/*  width: 90px;
  height: 90px;*/
}

#hero{
  height: 1200px;
  padding-bottom: 0;
  margin-top: 30px;
}

#opener{
  width: 50%;
  height: 300px;
  zoom: .9;
  transform: scale(0.9);
}

#opener .name{
  margin-top: 120px;
  margin-bottom: 10px;
  width: 606px;
  height: 250px;

}

#opener p{
  font-size: 24px;
  background-color: #000;
  max-width: 590px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 3px solid #ff003c;
}

#prLink{
  margin-top: 30px;
  border: 1px solid #ff003c;
  width: 150px;
  height: 70px;
  padding: 10px;
  font-size: 14pt;
  text-align: center;
}

a:hover{
  font-size: 24pt;
}

#uscr{
  margin: 10px 0 0 -1px;
}



h1{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12pt;
  font-family: 'Abel', sans-serif;
  color: #ff003c;
  text-transform: uppercase;
}

.uscr2{
  display: inline;
  zoom: .85;
  transform: scale(0.85);
  margin: 0 0 0 -5px;
  padding-top: 10px;
}

h4{
  font-size: 35pt;
  text-transform: uppercase;
}

h4 a:hover{
  font-size: 65pt;
}

h4, p{
  font-family: 'Abel', 'Calibri', sans-serif;
}


p{
  font-size: 16pt;
}

.wind{
  position:relative;
  float:left;
  clear: both;
}

#bio{
    margin-top: 200px;
    padding-top: 20px;
}

#bio p, #contact p{
  font-size: 20pt;
  color: #ff003c;

}

#bio p{
  margin-top: 20px;
  padding-left: 200px;
  text-align: right;


}

/*#head{
  z-index: -1;
  float: left;
  position: absolute;
  top: 2500px;
  left: -300px;
}*/

#particles{
  position: relative;
  float:right;
  width: 150px;
  height: 600px;
  margin-top: 500px;
}

.bg1{
  width: 100%;
  height: auto;
}

#projects, #bio{
  padding-top: 10px;
  margin-bottom: 200px;
}


#projectWrap{
  display: grid;
  grid-template-columns: 50% 50%;  
  margin: 0 auto;
  /*border: 1px solid red;*/
}


.project{
  width: 80%;
  float: left;
/*  height: 485px;
  width: 29.3333%;*/
  margin: 1%;
  padding: 1%;
  /*text-align: center;*/
}

/*.project hr{
  border: 1px solid #ff003c;
  width: 30px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}*/

.project p{
  font-size: 12pt;
  color: #ff003c;
}

.subpW{
  display: grid;
  grid-template-columns: auto  150px;
  min-height: 120px;
}

.aw{
  display: table-cell; 
  vertical-align: middle;
  background-image: url('../img/aw.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 12px 20px;
  margin-left: 20px;

  font-family: 'Abel', sans-serif;
  font-size: 9pt;
  text-align: center;
  text-transform: uppercase;
  color: #ff003c;

}

.a1{  
  padding-top: 25px;
}

.a2, .a3{  
  padding-top: 40px;
}

#contact, #bio{
  margin-bottom: 200px;
}

#contact p{
  text-align: right;
 
}

#contact a{
  background-color: #ff003c;
  color: #fff;
  padding: 0 3px 0 3px;
}

#contact a:hover{
  color: #ff003c;
  background-color: #fff;
  text-transform: uppercase;
}
.conText{
  position: absolute;
  width: 80%;
  padding-right: 50px;
}


/*#phone{
  width: 916px;
  height: 431px;
  background-image: url(../img/phone.png);
  background-repeat: no-repeat;
  float: left; 
  position: relative;
  left: -200px;
  top: 200px;
  /*border: 2px solid red;*/
/*  z-index: -1;
}*/

footer{
  width: 100%;
  height: 60px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #383838;
  color: #000;
  margin-top: 200px;
  display: grid;
  grid-template-columns: 50% 50%;  
  position: absolute;
  bottom: 0px;
}

.social{
  width: 90%;
  text-align: right;
}

.social hr{
  width: 30px;
  border: 1px solid #ff003c;
  margin-top: 10px;
  margin-bottom: 10px;
}

.social img:hover{
  zoom: 1.3;
  transform: scale(1.3);
}

#copyright p{
  font-size: 12pt;
  text-align: center;
}

.hero{
  height:120vh;
}




#sidedots{
  position: fixed;
  z-index: 999;
  right: -10px;
  top: 40vh;
  width: 30px;
  height: auto;
  background-color: #272727;
  border-radius: 10px 0px 0px 10px;
  padding: 25px 0 20px 15px;
}




#sidedots ul li{
    width:6px;
    height:6px;
    margin-bottom: 10px;
    content: ' ';
    border-radius: 50%;
    list-style: none;

}

#sidedots a{
  color: transparent;
}


.inactive{
  background-color: #323232;

    -webkit-transition: all .5s ease-out; 
    -moz-transition: all .5s ease-out; 
    -o-transition: all .5s ease-out; 
    -ms-transition: all .5s ease-out; 
    transition: all .5s ease-out;
  
}

.active {



  background-color: #ff003c;
  } 


header{
  display: block;
  /*margin-left: 5%;*/
  /*border: 2px solid red;*/
  /*width: 500px;*/
}

#reserved{
  float: right;
  margin-right: 5%;
  display: inline-block;
  top: 32px;
}

#reserved p{
  color: #ff003c;
  font-size: 8pt;
  text-transform: uppercase;
}

.mini{
  
  float: left;
  position: absolute;
  bottom: 8px;
  margin-left: 10%;
}

#mobBox{
  display: none;
  width: 80%;
}


@media only screen and (max-width: 700px) {

    body{
      background-position: 10vh 0px, center 2870px, -20px 3656px;
      background-size: 100%, 50%, 50%;

    }

    section{
      width: 95%;
      margin: 0 auto;
    }

    #head, 
    #particles, 
    #reserved, 
    nav,
    nav li, 
    h1,
    #sidedots{
      display: none;
    }

    #container{
      padding-top: 0;
    }

    nav{
      border-left: 0px solid #000;
    }

    #mobBox{
      display: grid;
      grid-template-columns: 70% 30%;
      width: 100%;
      height: auto;
      padding-top: 10px;
    }

    .upDown{
      /*width: 100px;*/
      height: auto;
      /*position: fixed;*/
      /*z-index: 99999;*/
      color: #ff003c;
      /*right: 30px;*/
      /*top: 10px;*/
      text-align: right;
      margin-right: 40px;

    }

    .upDown i{
      color: #ff003c;
      font-size: 32pt;
      margin-left: 15px;
    }

     .upDown i:hover{
      color: #fff;
    }

    .upDown a{
      font-size: 32pt;
    }


    header{
     background-color: #414141;
     position: fixed;
     z-index: 999;
     top: 0px;
    width: 100%;
    margin-top: 0;
    height: 70px;
    text-align: center;
    padding: 0;

    }

    #logo{
      display: none;
    }

    #logo2{
      zoom: 0.4;
      transform: scale(0.4);
      display: block;
      margin-bottom: 2px; 
    }

    #logo2, header nav{
      margin: 0 auto;
    }


    #hero{
      height: 600px;
      margin-bottom: 20px;
      position: relative;
      top: -100px;
      padding-top: 425px;
    }
    
    #opener,
    .name,
    #opener p,
    #prLink{
      margin: 0 auto;
    }

    .name{
      zoom: .9;
      transform: scale(0.9);
    }

    #opener{
      zoom: .75;
      transform: scale(0.75);
      width: 100%;
      height:auto;
     
    }

     #opener p{
      margin-bottom: 20px;
     }

    #comp{
      background-position: 550px 80px;
      background-size: 40%;
      height: 500px;


    }

    #projects{
      padding-top: 30px;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    #projects a:hover{
      font-size: 40pt;
    }

    #projectWrap{
      display: grid;
      grid-template-columns: 100%; 
      zoom: .85;
      transform: scale(0.85);
    }

    #bio{
      padding-top: 100px;
    }

    #bio p, #contact p{
      margin: 0 auto;
      text-align: center;
      font-size: 14pt;
    }

    #bio p{
      padding: 0 40px 0 20px;
    }

    #contact{
      padding: 150px 0 0 60px;
    }

    .pagename{
      font-family: 'Abel', sans-serif;
      font-size: 22pt;
      text-transform: uppercase;
      color: #ff003c;
      font-weight: bold;
      padding: 7px 0 0 20px;
      text-align: left;


    -webkit-transition: all .5s ease-in; 
    -moz-transition: all .5s ease-in; 
    -o-transition: all .5s ease-in; 
    -ms-transition: all .5s ease-in; 
    transition: all .5s ease-in;
    }


}
